@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


/* Global styles */
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    scroll-behavior: smooth;
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  

  .container-hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: url("images/icon_2.png");
    border-radius: 4px;
    scale: 8;
  }

  .container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  /* Header styles */
  header {
    background-color: #0000006b;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    width: 100%;
    max-width: 31px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #c6c6c6;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #ffffff;
  }
  
  /* Hero section styles */
  .hero {
    background-image: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid;
    border-top: none;
    border-right: none;
    border-left: none;

  }
  
  .hero h1 {
    font-size: 48px;
    color: #f2f2f2e3;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
  }
  
  .hero p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .btn-primary {
    background-color: #637787;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #e8e8e8;
    color: #000000;
  }
  
  /* Features section styles */
  .features {
    padding: 80px 0;
  }
  
  .feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  
  .feature-item i {
    font-size: 48px;
    color: #03a9f4;
    margin-bottom: 20px;
  }
  
  .feature-item h2 {
    font-size: 24px;
    color: #c6c6c6;
    margin: 0;
  }
  
  .feature-item p {
    font-size: 18px;
    color: #c6c6c6;
    text-align: justify;
    max-width: 800px;
  }
  
  /* About section styles */
  .about {
    background-color: #000000;
    padding: 80px 0;
  }
  
  .about h2 {
    font-size: 36px;
    color: #c6c6c6;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about p {
    font-size: 18px;
    color: #c6c6c6;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto 40px;
  }

  .logo-footer{
    display: none
  }

  .heading-title{
    scale: 1;
  }

  .sliders{
    display: inline-block;
    position: relative;
    color: #c6c6c6;
  }

  .sliders:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .sliders:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .header-logo-title{
    margin-left: 2vw;
    color: #ffffffd1;
    font-size: 33px;
    margin-right: 10px;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
